{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Ecom HomePage</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>
    <section id="header">
        <a href="index"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></a>   
        <div>
            <ul id="navbar">
                <li><a href="index">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a class="active" href="contact">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <!-- If the user is authenticated, display personalized greeting -->
                    <li><a>Hi, {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}" id='logout-link' onclick = "console.log('Logout clicked');" >Logout</a></li>
                    <li id="lg-bag"><a href="cart"><i class="fas fa-cart-arrow-down"></i></a></li>
                    {% else %}
                    <!-- If the user is not authenticated, display login option -->
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            {% if user.is_authenticated %}
                <!-- Cart link for authenticated users in mobile view -->
                <a href="cart"><i class="far fa-shopping-bag"></i></a>
            {% endif %}
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#Let's_Talk</h2>
        <p>LAVE A MESSAGE, We would love to hear from you</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <ol>
                <li>
                    <i class="fal fa-map"></i>
                    <p>Royal East, HSR Second Sector, Bengaluru</p>
                </li>
                <li>
                    <i class="fal fa-envelope"></i>
                    <p>lakshmis@purdue.edu</p>
                </li>
                <li>
                    <i class="fal fa-phone-alt"></i>
                    <p>+91 7538860269</p>
                </li>
                <li>
                    <i class="fal fa-clock"></i>
                    <p>Monday to Saturday 9:00 AM to 16:00 PM</p>
                </li>
            </ol>
        </div>

        <div id="map" class="map">
        </div>
        
    </section>

    <section id="form-details">
        {% if user.is_authenticated %}
        <div>
            <h2>LEAVE A MESSAGE</h2>
            <form method="POST" id="feedback-form" data-url="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="normal">Submit</button>
            </form>
        </div>
        {% else %}
        <div>
            <p>Login to provide feedback</p>
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    
        <div id="new-comment">
            <h5 id="commenter" class="mt-0">{{comment.user_name}}</h5>
            <p id="comment">{{comment.comment}}</p>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong> Address:</strong> 1706 N 13th St, Lafayette, IN 47904</p>
            <p><strong> Phone:</strong> +91 7538860269</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Instruction</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="login">Sign In</a>
            <a href="cart">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my Order</a>
            <a href="#">Support</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{% static 'img/pay/app.jpg' %}" alt="">
                <img src="{% static 'img/pay/play.jpg' %}" alt="">
            </div>
            <p>Secured Gateways</p>
            <img src="{% static 'img/pay/pay.png' %}" alt=""> 
            <div class="copyright">
                <p>&#169; 2024, Ecommerce - Cara Project Phase I</p

>
            </div>
        </div>
    </footer>
    
    <script>
        function initMap() {
          // Coordinates for the map center
          var center = { lat: 12.898725116470926, lng: 77.65275327554157 };
      
          // Create a map object and specify the DOM element for display.
          var map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 15 // Adjust zoom level as needed
          });
      
          // Add a marker at the specified location
          var marker = new google.maps.Marker({
            position: center,
            map: map,
            title: 'Royal East, Bengaluru'
          });
        }
      </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwVN9S06zwOZdqyBcXenenuGxvRWIByog&callback=initMap" async defer></script>
    <script src="/static/script.js"></script>

</body>
</html>