{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Ecom HomePage</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    
    </head>
<body>
    <section id="header">
        <a href="index"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></a>   
        <div>
            <ul id="navbar">
                <li><a href="index">Home</a></li>
                <li><a class="active" href="shop">Shop</a></li>
                <li><a href="contact">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <!-- If the user is authenticated, display personalized greeting -->
                    <li><a>Hi, {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}" id='logout-link' onclick = "console.log('Logout clicked');" >Logout</a></li>
                {% else %}
                    <!-- If the user is not authenticated, display login option -->
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li id="lg-bag"><a href="cart"><i class="fas fa-cart-arrow-down"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            
            <img src="{% static 'img/products/f1.jpg' %}" width="100%" id="MainImg" alt="">
    
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{% static 'img/products/f2.jpg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f3.jpg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f4.jpg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f5.jpg' %}" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6>Home/T-shirt</h6>
            <h4>Men's Spring Button down Shirt</h4>
            <h2>$139</h2>
            <select>
                <option>Select Size</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
                <option>XS</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add to Cart</button>
            <h4>Product Details</h4>
            <span>Elevate your style effortlessly with our premium cotton shirt, 
                    designed to accentuate your individuality and sophistication. 
                    Crafted with meticulous attention to detail, 
                    this shirt boasts a timeless elegance that seamlessly transitions from casual 
                    outings to formal affairs. Its tailored fit flatters every silhouette, 
                    while the breathable fabric ensures all-day comfort. 
                    Whether you're making a statement in the boardroom or embracing weekend leisure, 
                    this versatile shirt is a wardrobe essential. 
                    Embrace refinement and redefine your look with our exquisite shirt collection.</span>
        </div>
    </section>
    
    <section id="product1" class="section-p1">
        <h2>Recommended Products for You</h2>
        <p>Summer Collections & New Mordern Designs</p>
        <div class="pro-container"> 
            <div class="pro">
                <img src="{% static 'img/products/n1.jpg' %}" alt="">
                <div class="des">
                    <span>HNM</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="{% static 'img/products/n2.jpg' %}" alt="">
                <div class="des">
                    <span>HNM</span>
                    <h5>Flower Beach T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="{% static 'img/products/n3.jpg' %}" alt="">
                <div class="des">
                    <span>HNM</span>
                    <h5>Spring Button Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="{% static 'img/products/n4.jpg' %}" alt="">
                <div class="des">
                    <span>HNM</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong> Address:</strong> 1706 N 13th St, Lafayette, IN 47904</p>
            <p><strong> Phone:</strong> +91 7538860269</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Instruction</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="login">Sign In</a>
            <a href="cart">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my Order</a>
            <a href="#">Support</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{% static 'img/pay/app.jpg' %}" alt="">
                <img src="{% static 'img/pay/play.jpg' %}" alt="">
            </div>
            <p>Secured Gateways</p>
            <img src="{% static 'img/pay/pay.png' %}" alt=""> 
            <div class="copyright">
                <p>&#169; 2024, Ecommerce - Cara Project Phase I</p

>
            </div>
        </div>
    </footer>
    
    <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg=document.getElementsByClassName("small-img")


        smallimg[0].onclick = function(){
            MainImg.src=smallimg[0].src;

        }
        smallimg[1].onclick = function(){
            MainImg.src=smallimg[1].src;
            
        }
        smallimg[2].onclick = function(){
            MainImg.src=smallimg[2].src;
            
        }
        smallimg[3].onclick = function(){
            MainImg.src=smallimg[3].src;
            
        }
    </script>

    <script src="/static/script.js"></script>
</body>
</html>